:root {
	--color: rgba(60, 60, 60, 0.295);
	--color2: #FFFFFF;
	--color3: #470068;
	--font: 'Staatliches';
}

#bar {
    position: absolute;
    width: 19.84vw;
    height: 8.42vh;
    left: 50%;
    transform: translate(-50%, -95%);
    border-radius: 10px;
    animation: anim 2.5s infinite linear;
    background: var(--color);
}

#text1 {
    text-align: center;
    font-family: var(--font);
    font-size: 0.95vw;
    line-height: 4.22vh;
    color: var(--color2);
    text-shadow: 0px 0px 4px var(--color2);
}

#text2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -87.5%);
    font-family: var(--font);
    font-size: 36px;
    line-height: 70px;
    animation: anim2 2.5s infinite linear;
    color: var(--color3);
    text-shadow: 0px 0px 19px var(--color3);
}

@keyframes anim {
    0% { top: 95% }
    50% { top: 92.5% }
    100% { top: 95% }
}

@keyframes anim2 {
    0% { top: 87.5% }
    50% { top: 85% }
    100% { top: 87.5% }
}